body {
    text-align: center;
    background-color: rgb(208, 230, 236);}

img {
    max-width: 50vw;
}



.product, .form-container {
    margin: 2rem;
    padding: 2rem;
    border: 1px solid #666;
}